@import "tailwindcss";

@theme {
  --color-primary: #df6751;
  --color-primary-15: #df675126;
  --color-secondary: #ffc700;
  --color-secondary-15: #ffc70026;
  --color-tertiary: #7a9ffe;
  --color-tertiary-15: #7a9ffe26;
  --color-black: #0e1025;
  --color-black-80: #0e102550;
  --color-black-60: #0e10253c;
  --color-black-40: #0e102528;
  --color-black-20: #0e102514;
  --color-black-10: #0e10250a;
  --color-black-5: #0e102505;
  --color-white: #ffffff;
  --color-white-80: #fffffd50;
  --color-white-60: #fffffd3c;
  --color-white-40: #fffffd28;
  --color-white-20: #fffffd14;
  --color-white-10: #fffffd0a;
  --color-white-5: #ffffff05;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold leading-[1.2] tracking-[0];
  }
  h1 {
    @apply text-[72px];
  }
  h2 {
    @apply text-[48px];
  }
  h3 {
    @apply text-[40px];
  }
  h4 {
    @apply text-[32px];
  }
  h5 {
    @apply text-[24px];
  }
  h6 {
    @apply text-[20px];
  }
}
